<head>
  <title>Generate Random Number</title>
</head>
<body>
 <form action= "/random/results" method="get">
  <div> <label for= "user_min">Minimum</label>
  <input type="text" id= "user_min" name="user_min" placeholder="E.g. 1.5">
  </div>

  <div>
    <label for= "user_max">Maximum</label>
    <input type="text" id="user_max" name="user_max" placeholder="E.g. 4.5">
  </div>

  <button type= "submit">Pick another random number </button>
  </form>
</body>
