<head>
  <title>Square a Number</title>
</head>
<body>
 <form action= "/square/results" method="get">
  <div> <label for= "number">Enter a number</label>
  </div>

  <div>
    <input type="text" id="number" name="number" placeholder="What number do you want to take the square of?">
  </div>

  <button type= "submit"> Calculate square </button>
  </form>
</body>
