<head>
  <title>Squared Results </title>
</head>
<body>
  <h1>Squared Results </h1>

  <p>Number</p>
  <p><%= params[:number]%></p>

  <p>Square</p>
  <p><%= '%.4f' @result %></p>

  <a href= "/square/new"> Calculate another square </a>
</body>
