<head>
  <title>Square Root Results </title>
</head>
<body>
  <h1>Square Root Results </h1>

  <p>Number</p>
  <p><%= params[:number]%></p>

  <p>Square root</p>
  <p><%= @result %></p>

  <a href= "/square_root/new">Calculate another square root </a>
</body>
